@keyframes open-menu {
    from {opacity: 0; }
    to {opacity: 1;}
}

@keyframes close-menu {
    from {opacity: 1; }
    to {opacity: 0;}
}

@keyframes show-button {
    from {height: 0px;
        font-size: 0px;}
    to {height: 40px;
        font-size: 15px;}
}

@keyframes close-button {
    from {height: 40px;
        font-size: 15px;}
    to {height: 0px;
        font-size: 0px; }
}

.menu-open{
    animation: open-menu 0.5s;
}
.menu-closed{
    animation: close-menu 0.5s;
}

.child-open{
    animation: show-button 0.5s;
}
.child-closed{
    animation: close-button 0.5s;
}


.noDisplay{
    display: none;
}

.menuLeft{
    border: none;
    font-size: x-large;
    font-weight: bold;
    display: block;
    width: 124px;
    float: left;
    position: relative;
    margin-left: 15px;
    z-index: 10;
}

.menuButton{
    background: transparent;
    font-size: 35px;
    font-weight: bold;
    border: none;
    display: block;
    float: left;
    height: 61px;
    width: 124px;
    position: relative;
    transition: 0.5s;
    z-index: 3;
    opacity: 0.5;
    margin-bottom: 3px;
    padding: 0;
}
.menuButton:hover{
    opacity: 1;
}

.menuA{
    display: block;
    height: 42px;
    width: 124px;
    color: dimgray;
    z-index: 2;
    text-decoration: none;
    float: left;
    position:relative;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    background-color: rgba(220,220,220, 0.3);
    text-align: center;
    transition: background-color 1s;
    font-size: 15px;

}
.menuA:hover{
    background-color: rgba(220,220,220,1);
}